[Unit]
Description=Imapfilter
After=network.target

[Service]
Type=simple
WorkingDirectory=/home/admin
ExecStart=/usr/bin/imapfilter -c .imapfilter/config.lua -l /var/log/imapfilter
ExecReload=/bin/kill -HUP $MAINPID
KillMode=process
Restart=always
User=admin

[Install]
WantedBy=multi-user.target
